* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    padding: 0 30px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d9dbe0;
}

.links {
    display: flex;
    gap: 50px;
}

.link {
    text-decoration: none;
    color: #030303;
    font-size: 18px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
}

.link:hover {
    color: #0053ff;
}

.access {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
}

.text-title {
    color: #030303;
    font-size: 55px;
    font-family: 'IgraSans', Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;
}

.text-body {
    color: #030303;
    font-size: 18px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.45;
    font-weight: 400;
}

.text-btn {
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #0053ff;
    border: none;
    padding: 20px 28px;
    max-width: fit-content;
    color: #fff;
}

.access-img {
    max-width: 60%;
}

.section-key {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 80px 60px;
}

.key-title {
    color: #030303;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 400;
}

.key-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 262px;
    max-height: 258px;
    align-items: flex-start;
}

.title-key-card {
    color: #030303;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
}

.img-key-card {
    max-width: 140px;
}

.p-key-card {
    color: #030303;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
}

.title-key-card {
    color: #030303;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
}

.title-card-span {
    color: rgb(135, 145, 153);
}

.divider {
    border-bottom: 2px solid #d9dbe0;
    padding: 80px 60px;
}

.section-what-we-do {
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
}

.what-we-do-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.we-do-card-title {
    color: #030303;
    font-size: 54px;
    line-height: 1.25;
    font-weight: 400;
}

.row-card-title {
    color: #030303;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 600;
    text-transform: uppercase;
}

.what-we-do-img {
    max-width: 45%;
}

.what-we-do-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.what-we-do-card-row {
    display: flex;
    gap: 40px;
    height: 50%;
}

.row-card {
    width: 260px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.row-card-p {
    color: #030303;
    font-size: 22px;
    font-weight: 400;
}

.row-card-icon img {
    height: 33px;
    width: 33px;
}

.row-card-button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #0053ff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    align-self: flex-end;
    width: 259px;
    height: 64px;
    border: none;
}

.row-card-button:hover {
    background-color: #030303;
    cursor: pointer;
}